.App {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.todo-list h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fafafa;
  border-radius: 4px;
}

li button {
  background-color: #2076d2;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background-color: #1c6abd;
}

span {
  cursor: pointer;
  font-weight: bold;
}

.task-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
  font-size: 0.9em;
  color: #555;
}

.status-upcoming {
  background-color: #6dfbfb;
  color: black; /* Change text color to ensure contrast */
  padding: 5px 10px;
  border-radius: 3px;
}

.status-success {
  background-color: #28a745; /* Green for success */
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
}

.status-failed {
  background-color: #dc3545; /* Red for failed */
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
}
